
body {
  font-family: Arial, sans-serif;
} 

/* Cuida do container da página de gerente */
.container {
  display: grid;
  /* Ativa o Grid para o contêiner */
  grid-template-columns: repeat(2, 1fr);
  /* Cria 2 colunas de largura igual */
  grid-template-rows: repeat(2, 1fr);
  /* Cria 2 linhas de altura igual */
  justify-content: center;
}

.cont1 {
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 30px;
  background-color: transparent;
  border: 2px solid #153d64;
  width: 400px;
  height: 233px;
  border-radius: 30px;
  text-decoration: none;

}

.texto {
  margin: 20px;
  font-size: 36px;
  color: #153d64;
}

.cont1:hover .texto {
  color: #fff;
}

.cont1:hover {
  transition: 0.5s;
  background-color: #153d64;
}

Cuida do container da pagina do vendedor
.container2 {
  display: grid;
  /* Ativa o Grid para o contêiner */
  grid-template-columns: repeat(1, 1fr);
  /* Cria 2 colunas de largura igual */
  grid-template-rows: repeat(2, 1fr);
  /* Cria 2 linhas de altura igual */
  justify-content: center;
}

.cont2 {
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 34px;
  background-color: transparent;
  border: 2px solid #153d64;
  width: 920px;
  height: 233px;
  border-radius: 30px;
  text-decoration: none;
}

.cont2:hover .texto {
  color: #fff;
}

.cont2:hover {
  transition: 0.5s;
  background-color: #153d64;
}

/* Containers superiores da parte do financeiro */

.container-financeiro {
  display: grid;
  /* Ativa o Grid para o contêiner */
  grid-template-columns: repeat(2, 1fr);
  /* Cria 2 colunas de largura igual */
  /* Cria 2 linhas de altura igual */
  justify-content: center;
}

.cont3 {
  transition: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0 auto;
  margin-top: 27px;
  margin-left: 36px;
  background-color: transparent;
  border: 2px solid #153d64;
  width: 626px;
  height: 383px;
  border-radius: 30px;
  text-decoration: none;
}

.graph {
  width: 300px;
  color: #62c2eb;
}

.cont4 {
  transition: 0.5s;
  margin: 0 auto;
  margin-left: 36px;
  margin-top: 18px;
  background-color: transparent;
  border: 2px solid #153d64;
  width: 95%;
  height: 100%;
  border-radius: 30px;
  text-decoration: none;
  flex-shrink: 0;
}

.cont4 p {
  font-size: 38px;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 20px;
}

/* Parte do estoque */
.cont5 {
  width: 920px;
  margin: 0 auto;
}

.cont6{
  transition: 0.5s;
  margin: 0 auto;
  margin-left: 36px;
  margin-top: 18px;
  background-color: transparent;
  border: 2px solid #153d64;
  width: 920px;
  height: 100%;
  border-radius: 30px;
  text-decoration: none;
  margin: 0 auto;  
}